@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px; /* задаем максимальную ширину контейнера */
    margin: 0 auto; /* выравниваем контейнер по середине */
} /* подключаем дополнительные части стилей проекта */
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';