.button {
    width: 150px;
    height: 30px;
    border-radius: 5px; /* скругляем края кнопки */
    background-color: $main-color; /* назначаем цвет который уже задали как переменную */
    border: none; /* убираем обводку у кнопки */
    color: #ffffff; /* назначем цвет тексту */
    font-size: 12px; /* размер текста */
    font-weight: 500; /* жирность текста */
    text-transform: uppercase; /* делаем все буквы заглавными */
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit { /* задаем свойчтва для кнопки с модификатором submit, которая находится в форме для заполнения заявки */
        width: 100%; /* делаем ей ширину 100% чтобы она была шириной как тот блок в котором она находится */
        height: 55px; /* высота кнопки */
        color: #ffffff; /* задаем цвет текста */
        font-size: 16px; /* зазмер шрифта */
    }
}