.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    
    .slick-prev, .slick-next { /* задаем сразу 2 класса для экономии кода */
        position: absolute; /* позиция абсолют для того чтобы разместить стрелочку где нам надо */
        top: 50%; /* выравниваем по середине */
        transform: translateY(-50%); /* сдвигаем на 50% сам блок со стрелочкой чтобы было четко по середине */
        left: -66px; /* сдвигаем стрелочку левее на 66 пик. */
        border: none; /* убираем обводку */
        background-color: #fff; /* делаем белый задний фон для корректного отображения стрелки */
        img { /* задаем размер стрелки как по макету */
            width: 31px;
            height: 50px;
        }
    }
    .slick-next { /* сдвигаем правую стрелку в право */
        right: -66px;
        left: auto;
    }

}