.feed-form {
    margin-top: 36px;
    display: flex; /* подключаем флексы для выравнивания  */
    flex-direction: column; /* выравниваем элемены по вертикали */
    width: 300px; /* задаем ширину блока */
    input {
        height: 50px;
        border-radius: 5px; /* задаем скругление линий блоков input */
        background-color: #ffffff; /* задаем цвет фона */
        margin-bottom: 15px; /* задаем отступы между input */
        border: none; /* убираем обводку вокруг полей input */
        padding: 0 20px; /* задаем отступ справа и слева для вводимого текста */
        color: #4b4b4b; /* задаем цвет вводимого текста */
        font-size: 14px; /* задаем размер вводимого текста */
        font-weight: 300; /* ширина input */
        &:nth-child(3) { /* с помощью псевдокласса задаем отствуп последнему инпуту, чтобы последующая кнопка была чуть ниже */
            margin-bottom: 20px;
        }
    }
    &_mt25 {
        margin-top: 25px;
    }
}